
@{
    ViewData["Title"] = "Viewport1";
    Layout = "~/Views/Shared/_Mobile.cshtml";
}

 <div id="full" style="width:100%;margin:auto;height:2000px;background-color:whitesmoke">
 <div style="clear:both;width:80%;background-color:whitesmoke;margin-left:auto;margin-right:auto;display:flex;margin-top:40px">
           <div style="width:30%;background-color:whitesmoke;margin-top:30px;z-index:99999">
            <div style="background-color:white;border-radius:20px;margin-bottom:10px;box-shadow: 10px 10px #888888;">
                 <img style="display:block;margin:auto" src="~/images/icon4.png" height="80" width="80"/>
            </div>
          <p style="font-size:15px;color:red;text-align:center">Picture one</p>
            </div>
            <div style="width:40%;background-color:whitesmoke;margin-top:30px">
                <div style="width:80%;background-color:white;margin-left:auto;margin-right:auto;border-radius:20px;margin-bottom:10px;box-shadow: 10px 10px #888888;">
                 <img style="display:block;margin:auto" src="~/images/icon3.png" height="80" width="80"/>
                 </div>
          @*   <p style="font-size:15px;color:red;text-align:center">Picture two</p>*@

            </div>
            <div style="width:30%;background-color:whitesmoke;margin-top:30px;">
            <div style="background-color:white;border-radius:20px;margin-bottom:10px;box-shadow: 10px 10px #888888;">
                 <img style="display:block;margin:auto" src="~/images/icon4.png" height="80" width="80"/>
            </div>
          <p style="font-size:15px;color:red;text-align:center">Picture three</p>
            </div>
    </div>


    <div style="clear:both;width:80%;background-color:whitesmoke;margin-left:auto;margin-right:auto;display:flex;margin-top:-10px">
          <div style="width:30%;background-color:whitesmoke;margin-top:30px;z-index:99999">
            <div style="background-color:white;border-radius:20px;margin-bottom:10px;box-shadow: 10px 10px #888888;">
                 <img style="display:block;margin:auto" src="~/images/icon4.png" height="80" width="80"/>
            </div>
          <p style="font-size:15px;color:red;text-align:center">Picture one</p>
            </div>
            <div style="width:40%;background-color:whitesmoke;margin-top:30px">
                <div style="width:80%;background-color:white;margin-left:auto;margin-right:auto;border-radius:20px;margin-bottom:10px;box-shadow: 10px 10px #888888;">
                 <img style="display:block;margin:auto" src="~/images/icon5.png" height="80" width="80"/>
                 </div>
             <p style="font-size:15px;color:red;text-align:center">Picture two</p>

            </div>
            <div style="width:30%;background-color:whitesmoke;margin-top:30px;">
            <div style="background-color:white;border-radius:20px;margin-bottom:10px;box-shadow: 10px 10px #888888;">
                 <img style="display:block;margin:auto" src="~/images/icon4.png" height="80" width="80"/>
            </div>
          <p style="font-size:15px;color:red;text-align:center">Picture three</p>
            </div>
    </div>
   </div>
 

